* {
  font-size: 28px;
  font-family: monospace;
}

body {
  margin: 0;
  overflow: hidden;
}

.fetching-indicator {
  height: 100vh;
  width: 100vw;
  position: sticky;
  text-align: center;
}

.tooltip {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 50px;
  min-height: 16px;
  text-align: center;
  padding: 3px 6px;
  font-family: monospace;
  color: white;
  background: rgba(0,0,0,0.5);
  display: none;
  opacity: 0;
  border: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s linear;
  border-radius: 3px;
}